@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "clashdisplayExtralight";
  src: url("/fonts/ClashDisplay-Extralight.woff2");
}

@font-face {
  font-family: "clashdisplayLight";
  src: url("/fonts/ClashDisplay-Light.woff2");
}

@font-face {
  font-family: "clashdisplayMedium";
  src: url("/fonts/ClashDisplay-Medium.woff2");
}

@font-face {
  font-family: "clashdisplayRegular";
  src: url("/fonts/ClashDisplay-Regular.woff2");
}

@font-face {
  font-family: "clashdisplaySemibold";
  src: url("/fonts/ClashDisplay-Semibold.woff2");
}

@font-face {
  font-family: "clashdisplayVariable";
  src: url("/fonts/ClashDisplay-Variable.woff2");
}

@font-face {
  font-family: "clashdisplayBold";
  src: url("/fonts/ClashDisplay-Bold.woff2");
}

.clashdisplayExtralight {
  font-family: "clashdisplayExtralight", sans-serif;
}

.clashdisplayLight {
  font-family: "clashdisplayLight", sans-serif;
}

.clashdisplayMedium {
  font-family: "clashdisplayMedium", sans-serif;
}

.clashdisplayRegular {
  font-family: "clashdisplayRegular", sans-serif;
}

.clashdisplaySemibold {
  font-family: "clashdisplaySemibold", sans-serif;
}

.clashdisplayVariable {
  font-family: "clashdisplayVariable", sans-serif;
}

.clashdisplayBold {
  font-family: "clashdisplayBold", sans-serif;
}